@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body
{
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    font-family: "Open Sans", sans-serif;
    font-weight: 300;

    color: #222;
}

body
{
    background: url(images/bg.jpg);
    background-position: center center;
}

.wrapper
{
    margin: 0 auto;
    display: table;
    height: 100%;
}

.content-wrapper
{
    display: table-row;
    height: 100%;
}

.content
{
    display: table-cell;
    vertical-align: middle;

    text-align: center;
}

h1
{
    font-weight: 300;
    font-size: 50px;
}

hr
{
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

p
{
    margin-bottom: 40px;
}

.italic
{
    font-style: italic;
}

.btn
{
    color: #FFF;
    font-size: 30px;
    background: #3498DB;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

    display: inline-block;
    width: 160px;
}

.btn:hover
{
    background: #3CB0FD;
    text-decoration: none;
}
