html
{
    overflow-y: scroll;
}

.screen,
.tab-screen
{
    display: none;
    overflow: hidden;
}

.visible
{
    display: inherit;
}

.form-right
{
    float: right;
}

.hidden
{
    display: none;
}

.store-thumb
{
    width: 242px !important;
    height: 200px !important;
}

.store-item
{
    height: 580px;
}

.store-button-wrapper
{
    /* This is so bad lol :P */
    position: absolute;
    bottom: 25px;
}

.tech-thumb
{
    width: 64px;
    height: 64px;
}

.log
{
    overflow: scroll;
    height: 500px;
}

.log-entry
{
    display: table;
}

.maxwidth
{
    width: 100%;
}

.squarebtn
{
    width: 40px;
}

#tab-research .media
{
    border: 1px solid #DDD;
}

.mil-fixed
{
    width: 160px;
    display: table;
}

/* Fix for ugly pointer over readonly input fields */
input[readonly]
{
    cursor: default !important;
}

/* Fix modal scroll compensation margin */
body
{
    padding-right: 0 !important;
}

/* Get rid of ugly bootstrap outlines */

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus
{
    outline: none;
}

/* Get rid of ugly Firefox outlines */

a:focus
{
    outline: none;
}

button::-moz-focus-inner
{
    border: 0;
}
